/dist/
/source/phlnode/nbproject/private/
/source/phlnode/build/
/source/phlnode/dist/
/source/ruleengine/nbproject/private/
/source/ruleengine/build/
/source/ruleengine/dist/
/source/testingframework/nbproject/private/
/source/testingframework/build/
/source/testingframework/dist/
/source/phlcommon/nbproject/private/
/source/phlcommon/dist/
/source/phlcommon/build/
/docu/*.dia~
/source/phlswiprolog/nbproject/private/
/source/phlswiprolog/build/
/source/phlswiprolog/dist/
/tools/temp.png

/source/_ProHomeLog/nbproject/private/
/source/_ProHomeLog/build/
/source/_ProHomeLog/dist/
/source/jiprolog/nbproject/private/
/source/jiprolog/build/
/source/phljiprolog/nbproject/private/
/source/phljiprolog/dist/
/source/phljiprolog/build/

/source/phlweb/nbproject/private/
/source/phlweb/dist/
/source/phlweb/build/
/source/phlswiprolog/build
